
    <div fxFlex="50" class="one" >
        <mat-card class='margin'>
            <mat-form-field class="example-full-width">
                <mat-label>Food Type</mat-label>
                <mat-select [formControl]="foodTypeControl">
                    <mat-option *ngFor="let topping of foodTypes | async" [value]="topping">{{topping}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>weight in grams</mat-label>
                <input matInput placeholder="100" type="number" [formControl]="weightControl">
            </mat-form-field>
            <div class="example-full-width">
                <button type='button' mat-raised-button color="primary" (click)="saveToDatabase()">Add record</button>
            </div>       
        </mat-card> 
    </div>


<div fxFlex="50%" class="two">
    <mat-card class='margin'>
        <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" [formControl]="foodTypeNameControl">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>kcal per 100 gram</mat-label>
            <input matInput placeholder="100" type="number" [formControl]="foodTypeKcalControl">
        </mat-form-field>
        <div class="example-full-width">
            <button type='button' mat-raised-button color="primary" (click)="addFoodTypeToDatabase()">Add food type</button>
        </div>    
    </mat-card>
</div>


